.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 57%, 74%); }

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

*, *:before *::after {
    box-sizing: border-box;
}
body {
    background-color: hsl(235, 18%, 26%);
}


/* form card */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    color:hsl(234, 29%, 20%);
}
.form-card {
    display: flex;
    width: 680px;
    height: 440px;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transform: scale(0.85); 
} 
.left {
    flex: 1.25;
    padding: 1rem;
}
.right {
    flex: 1;
}
.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.45rem;
}
#mobile-img, tablet-img {
    display: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon {
    width: 15px;
    height: 15px;
    overflow: visible;
    margin-right: 0.2rem;
}
h1 {
    /* font-family: roboto-bold; */
    font-size: 2.25rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.85rem;
}
.list-items {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;                                        
    margin-bottom: 0.5rem;
}
p {
    margin: 0;
}
header p{
    margin-bottom: 2.5rem;
}
.email-section { 
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input, button {
    all: unset;
    box-sizing: border-box;
}
label, .error-msg{
    font-family: roboto-bold;
    font-size: 0.75rem;
    letter-spacing: 0.9px;
}
input {
    border: 1px solid hsla(234, 29%, 20%,0.25);
    color: hsl(234, 29%, 20%);
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 90%;
    margin-bottom: 0.35rem;
}
button {
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 90%;
    text-align: center;
    transition: box-shadow 0.3s ease;
}
.email-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}

/* form card interactive states */
button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #FF5476, #FF693E);
    box-shadow: 0 4px 30px rgba(255, 84, 118, 0.4);
}
input:focus {
    border-color: hsl(234, 29%, 20%);
    
}
/* error states */
.error-msg {
    color: hsl(4, 100%, 67%);
}
.input-error {
    border-color: hsl(4, 100%, 67%);
    background-color: hsla(4, 100%, 67%, 0.1);
    color: hsl(4, 100%, 67%);
}


/* success card */
.success-card {
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transform: scale(0.75); 
}
.success-icon {
    width: 45px;
    height: 45px;
    align-self: flex-start;
}
.success-card p {
    line-height: 22px;
    font-size: 0.85rem;
}
span {
    font-family: roboto-bold;
}
#dismiss-btn {
    margin-top: 1rem;
    width: 100%;
    font-family: roboto-bold;
}
/* hover state */
#dismiss-btn:hover {
    background: linear-gradient(to right, #FF5476, #FF693E);
    box-shadow: 0 4px 30px rgba(255, 84, 118, 0.4);
}

/* toggle display */
.toggle-display {
    display: none;
}



/* media queries */
/* tablet form card */
@media (max-width: 1024px) {
    .form-card {
        padding: 2rem;
        transform: scale(0.65); 
    }
    #desktop-img, #mobile-img {
        display: none;
    }
    #tablet-img {
        display: block;
    }
}

/* tablet success card */
@media (max-width: 1024px) {
    .success-card {
        transform: scale(0.65); 
    }
}

/* mobile form card */
@media (max-width: 730px) {
    .form-card {
        width: 320px;
        height: 700px;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0.75rem;
    }
    .img-container {
        height: 260px;
        width: 100%;
        overflow: hidden;
    }
    .left, .right {
        flex: none;
    }
    .right img {
        object-fit: cover;
        border-radius: 0.75rem;
        margin-top: 1.25rem; 
    }
    #desktop-img, #tablet-img {
        display: none;
    }
    #mobile-img {
        display: block;
    }
    header h1 {
        margin-top: 1.5rem;
    }
    .email-section {
        margin-top: 2rem;
    }
    .email-cont {
        width: 100%;
    }
    #error-msg {
        align-self: flex-end;
    }
    button, input {
        align-self: center;
        width: 100%;
    }
}

/* mobile success card */
@media (max-width: 730px) {
    .success-card {
        width: 320px;
        height: 700px;
        justify-content: space-between;
    }
    .success-icon {
        margin-top: auto;
    }
    .success-card p {
        margin-bottom: 0.75rem;
    }
    #dismiss-btn {
        margin-top: auto;
    }
}